<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dhu.hualihushao.dao.CacheDao">
    <resultMap id="BaseMap" type="com.dhu.hualihushao.entity.Cache">
        <id column="cache_id" property="cache_id"/>
        <result column="repository_id" property="repository_id"/>
        <result column="material_id" property="material_id"/>
        <result column="cache_time" jdbcType="TIMESTAMP" property="cache_time" javaType="java.util.Date"/>
        <result column="cache_numbers" property="cache_numbers"/>
<!--        前面是数据库，后面是java-->
        <association property="material" javaType="com.dhu.hualihushao.entity.Material">
            <id column="material_id" property="material_id"></id>
            <result column="material_name" property="material_name"></result>
            <result column="material_price" property="material_price"></result>
            <result column="material_supplier" property="material_supplier"></result>
        </association>

        <association property="repository" javaType="com.dhu.hualihushao.entity.Repository">
            <id column="repository_id" property="repository_id"></id>
            <result column="repository_name" property="repository_name"></result>
            <result column="repository_capacity" property="repository_capacity"></result>
        </association>
    </resultMap>

    <sql id="sql1">
        cache_id,
        repository_id,
        material_id,
        cache_time,
        cache_numbers
    </sql>
    <sql id="sql2">
        repository_id,
        material_id,
        cache_time,
        cache_numbers
    </sql>

    <select id="getAll" parameterType="com.dhu.hualihushao.entity.Cache" resultMap="BaseMap">
        select
            cache.*,
            material.*,
            repository.*
        from
                cache,
                material,
                repository
        <where>
            <if test="start != '' and start !=null">
                and  cache_time > #{start}
            </if>
            <if test="end != '' and end != null">
                and cache_time &lt; #{end}
            </if>
<!--            <if test="m_name !='' and m_name!= null">-->
<!--               and  material.material_name  like '%${m_name}%'-->
<!--            </if>-->
            <if test="m_name !='' and m_name!= null">
                and  material.material_name  like concat('%',#{m_name},'%')
            </if>
            and cache.repository_id = #{repository_id}
            and cache_numbers > 0
            and cache.repository_id = repository.repository_id
            and cache.material_id = material.material_id
        </where>
    </select>

    <select id="getOne" parameterType="com.dhu.hualihushao.entity.Cache" resultMap="BaseMap">
        select
            cache.*,
            material.*,
            repository.*
        from
            cache,
            material,
            repository
        <where>
            cache_id = #{cache_id}
            and cache_numbers > 0
            and cache.repository_id = repository.repository_id
            and cache.material_id = material.material_id
        </where>
    </select>

    <insert id="add" parameterType="com.dhu.hualihushao.entity.Cache">
        insert into
            cache(repository_id,material_id,cache_time,cache_numbers)
        value(
            #{repository_id},
            #{material_id},
            #{cache_time},
            #{cache_numbers}
            )
    </insert>

    <update id="updateNumbers" parameterType="com.dhu.hualihushao.entity.Cache">
        update  cache
        set cache_numbers = #{cache_numbers}
        where cache_id = #{cache_id}
    </update>


</mapper>